body{
   margin: 0px;
   padding: 1px;
}
/* Backgroung image  */
.img{
   width: 99.9%;
   height: 1000px;
   display: inline;
   position: fixed;
   z-index: -1;
}
/* Containers for each sequence */
#homePage-container, #questions-container, #timesUp, #enter-int, #your-score, #scoreBoard{
   margin: 100px 130px;
   text-align: center;
   background-color: snow;
   border: 0px solid;
   padding: 10px;
   box-shadow: 5px 8px slategrey;
   border-radius: 25px;
}
/* Class on containers  */
.hide{
   display: none; 
}
/* HomePage and HighScore container Headers  */
.card-header{
   font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    color: saddlebrown;
    text-shadow: 2px 3px royalblue;
    font-size: xxx-large;
}

/* *****  HomePage Start   *****  */
/* HomePage Card title  */
.card-title{
   font-family: 'Space Mono', monospace;
   font-size: x-large;
   color: darkcyan;
   text-shadow: 2px 2px darksalmon;
}
/* Home page Start Game button
& Time Ran out -replay button  */
#start-button, #replay-button{
   margin-bottom: 25px;
   margin-top: 15px;
   background-color: goldenrod;
   border-radius: 5px;
   height: 35px;
   width: 178px;
   font-family: 'Space Mono', monospace;
   font-weight: bold;
}
#start-button:hover{
   background-color: darkolivegreen;
   color:goldenrod;
}
/* HomePage para  */
.card-text{
   line-height: 26px;
   font-family: 'JetBrains Mono', monospace;
}

/*   *****    Quiz container    *****
 answer buttons container*/
#answer-buttons{
   margin-bottom: 25px;
   text-align: -webkit-center;
  
}
/* individual buttons  */
.btn{
   margin-bottom: 10px;
   display: block;
   height: 30px;
   width: 60%;
   border-radius: 5px;
   font-family: 'JetBrains Mono', monospace;
   background-color: antiquewhite;
}
.btn:hover{
   background-color:burlywood;
}
/* Option buttons - nixes border around "previously selected" answers */
.btn:focus{
   box-shadow: none;
}

#timer{
   float: right;
   padding: 10px 25px 0px 0px;
}

#question{
   position: relative; 
   margin-top: 55px;
   font-family: 'Lekton', sans-serif;
}

/* *****   Enter player info container   *****  */
/* Your Score is title  */
.yourScoreIs{
   font-size: 30px;
}
#scoreNumGoesHere{
   font-size: 45px;
}
/* Text above input box  */
.int-text{
   font-family: 'JetBrains Mono', monospace;
   text-shadow: 2px 2px darksalmon;
   font-size: 25px;
   margin-top:25px;
}
.int-text-line2{
   font-family: 'JetBrains Mono', monospace;
   text-shadow: 2px 2px darksalmon;
   font-size: 18px;
   margin-bottom: 10px;
}
/* Input box  */
#initials-input{
   margin-bottom: 15px;
}
/* Submit score button  */
#submit-initials-button{
   display: block;
   margin: auto;
   margin-bottom: 35px;
   background-color: goldenrod;
   border-radius: 5px;
   height: 35px;
   width: 182px;
   font-family: 'Space Mono', monospace;
   font-size: 14px;
   font-weight: bold;
}
#submit-initials-button:hover{
   background-color: darkolivegreen;
   color:goldenrod;
   font-weight: bold;
}

/* #replay-button, #clear-scores-button{
   background-color: goldenrod;
   border-radius: 5px;
   width: 154px;
   height: 35px;
   font-family: 'Space Mono', monospace;
   font-size: 14px;
}

#replay-button:hover{
   background-color: darkolivegreen;
   color:goldenrod;
}
#clear-scores-button:hover{
   background-color: darkolivegreen;
   color:goldenrod;
} */


/* *****   Highscores container   *****  */
/* Coder - Score titles */
#boardTitles{
   font-size: 25px;
   margin-left: 34px;
   font-weight: bold;
   font-family: 'JetBrains Mono';
   text-decoration: underline;
   background-color: darkgrey;
}
/* Unordered List */
#highScoresList{
   list-style: none;
   color: rgb(15, 18, 66);
   margin-bottom: 30px;
   font-size: 25px;
}
/* Player initials and score appended from JS  */
li.highScoresList{
   padding-bottom: 10px;
   font-family: 'JetBrains Mono', monospace;
}
li.highScoresList:hover{
   background-color: wheat;
   font-size: 28px;
}

footer{
   text-align: -webkit-center;
}

#attribute-link{
   color: royalblue;
}

/* ***** Fonts Used ***** */

/*  Home Page and HighScores Headers, HomePage text, answer buttons
      enter inits text, highScore titles and scores  */
/* font-family: 'JetBrains Mono', monospace;

/*  THomePage Title, Start & submit inits buttons  */
/* font-family: 'Space Mono', monospace; */ 

/*  Questions  */
/* font-family: 'Lekton', sans-serif; */